@import "tailwindcss";

@theme {
  --color-primary: #1c2b39;
  --color-primary-dark: #0f1923;
  --color-secondary: #62bb46;
  --color-secondary-dark: #4a9035;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

/* Hide scrollbar for carousel */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
