:root {
  --primaryColor: #1c2b39;
  --secondaryColor: #62bb46;
}

* {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h4 {
  margin-bottom: 0.25em;
}

.hidden {
  display: none;
}

.event-finder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  line-height: 1.5;
}

.event-image {
  position: relative;
  background-size: cover;
  background-position: center;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.event-badge {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background: var(--secondaryColor);
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  opacity: 0.8;
  z-index: 1;
}

.event-share-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #c1c1c1;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 5 Free";
  text-decoration: none;
  opacity: 0.8;
}
.event-content {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.event-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.event-content .fas {
  margin-right: 0.5rem;
  color: var(--primaryColor);
}

.event-meta-date,
.event-meta-address {
  font-size: 0.95rem;
  color: #666;
}

.event-description {
  font-size: 0.95rem;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Change this number to limit lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Tags */
.event-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 1rem;
  margin: 1rem 0;
  list-style: none;
}

.event-tags::-webkit-scrollbar {
  display: none;
}

.event-tags li {
  flex: 0 0 auto;
}

.filterBtn {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--primaryColor);
  background-color: #e4e7ea;
  padding: 0.5em 1em;
  border-radius: 100px;
  white-space: nowrap;
}

/* Buttons */
.event-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 1rem 1rem;
  justify-content: flex-end;
}

.event-buttons a {
  color: #ffffff;
  background-color: var(--secondaryColor);
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.75em 2em;
  font-size: 0.85em;
  text-decoration: none;
  flex: 1;
  text-align: center;
}
