<div class="serve-finder">
  {% for serve in Serve %}
  <div class="serve-card">
    <div class="serve-image" style="background-image: url('{{ serve.Image }}')">
      {% if serve.Badge %}
      <div class="serve-badge">{{ serve.Badge }}</div>
      {% endif %}
      <a
        class="shareBtn"
        data-url="{{ Information.ServeDetailsBaseURL | replace: '{id}', serve.ID }}"
      >
        <i class="fas fa-share"></i>
      </a>
    </div>

    <div class="serve-content">
      <div class="serve-title">{{ serve.Title }}</div>

      <div class="serve-meta">
        <div><i class="fas fa-handshake"></i> {{ serve.Type.Name }}</div>
        {% if serve.Campus.Name %}
        <div><i class="fas fa-map-marker-alt"></i> {{ serve.Campus.Name }}</div>
        {% endif %}
      </div>

      <div class="serve-description">{{ serve.Description }}</div>

      <div class="serve-bottom">
        {% if serve.Tags.size > 0 %}
        <ul class="serve-tags">
          {% for tag in serve.Tags %}
          <li>
            <a
              class="filterBtn"
              data-filter="{{ tag.Parameter }}"
              data-id="{{ tag.ID }}"
              >{{ tag.Text }}</a
            >
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        <div class="serve-buttons">
          {% for button in serve.Buttons %}
          <a href="{{ button.URL }}" target="_blank">{{ button.Text }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
