@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "../styles/widget.css";

@layer base {
  body {
    font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
  }
}
