<div class="event-finder">
  {% for event in Events %} {% assign dates = event.Dates %} {% assign
  first_date = dates[0] %} {% assign first = first_date.Occurrences[0] %} {%-
  assign occ_total = 0 -%} {% for d in dates %} {% assign occ_total = occ_total
  | plus: d.Occurrences.size %} {% endfor %}

  <div class="event-card">
    <div class="event-image" style="background-image:url('{{ first.Image }}');">
      {% if first.Badge %}
      <div class="event-badge">{{ first.Badge }}</div>
      {% endif %}
      <a class="event-share-button"><i class="fas fa-share"></i></a>
    </div>

    <div class="event-content">
      <div class="event-title">{{ event.Title }}</div>

      <div class="event-meta">
        <i class="fas fa-calendar-alt"></i>
        <div>
          {%- comment -%} If multiple times on the first date, show date only
          {%- endcomment -%} {% if first_date.HasMultipleTimes %} {{
          first_date.Date | date: "%A, %B %-d" }} {% else %} {{ first.Start |
          date: "%A, %B %-d at %-I:%M%p" }} {% if first.End %}&ndash; {{
          first.End | date: "%-I:%M%p" }}{% endif %} {% endif %} {% if occ_total
          > 1 %} &nbsp;&nbsp;<span class="event-more-dates"
            >{{ occ_total }} dates</span
          >
          {% endif %}
        </div>

        <i class="fas fa-map-marker-alt"></i>
        <div>
          {% if event.Location.Name == 'Multiple Locations' %} Multiple
          Locations {% else %} {{ event.Location.Name }} {% if
          event.Location.Address and event.Location.Address.Line_1 %} , {{
          event.Location.Address.Line_1 }} {% endif %} {% endif %}
        </div>
      </div>

      {% if first.Description %}
      <div class="event-description clamp-5">{{ first.Description }}</div>
      {% endif %} {% if occ_total > 1 %}
      <details class="event-dates">
        <summary>See all dates</summary>
        {% for d in dates %}
        <h4 class="event-date-heading">
          {{ d.Date | date: "%a, %b %-d, %Y" }}
        </h4>
        <ul>
          {% for o in d.Occurrences %}
          <li class="event-date-row">
            <div class="event-date-row__when">
              {{ o.Campus.Name }} &bull; {{ o.Start | date: "%-I:%M%p" }}{% if
              o.End %} &ndash; {{ o.End | date: "%-I:%M%p" }}{% endif %} {% if
              o.Location and o.Location.Address and o.Location.Address.Line_1 %}
              <br />{{ o.Location.Address.Line_1 }} {% endif %}
            </div>
            <div class="event-date-row__actions">
              {% for button in o.Buttons %}
              <a class="btn" href="{{ button.URL }}">{{ button.Text }}</a>
              {% endfor %}
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </details>
      {% endif %}
    </div>

    {% if first.Tags %}
    <ul class="event-tags">
      {% for tag in first.Tags %}
      <li><span class="filterBtn">{{ tag.Text }}</span></li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="event-buttons">
      {% for button in first.Buttons %}
      <a href="{{ button.URL }}">{{ button.Text }}</a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
